.imagem{
    margin: 0;
    margin-left: 430px;
    
}
h1{
text-align: center;
font-size: 50px;
margin-top: 0;
font-family: 'Segoe Script', Tahoma, Geneva, Verdana, sans-serif;
color: rgba(122,67,67,10);
}

body{
background-color: rgb(165,116,42);
background-image: url(images.jfif);

}
p{
    color: white;
}

a{
    color: rgb(37,103,202);
}
.neonText{
color: #fff;
text-shadow: 0 0 7px #fff,
0 0 10px #fff,
0 0 21px #fff,
0 0 42px #0fa,
0 0 82px #0fa,
0 0 92px #0fa,
0 0 102px #0fa,
0 0 151px #0fa;
}